## Alternatívny spôsob načítania súboru do dataframu
Keď potrebujeme z veľkej tabuľky s veľa stĺpcami si vytiahnuť do dataframu len určité stĺpce, tak použijeme parameter usecols

In [2]:
import pandas as pd

In [14]:
# bank_users = pd.read_csv("bank_users.csv", usecols=["first_name", "last_name"])
#bank_users
# vyberieme dva stĺpce do dataframu

In [12]:
# type(bank_users)

Keď si vytiahneme len 1 stĺpec, tak si ho hneď môžeme previesť na Series

In [17]:
bank_users = pd.read_csv("bank_users.csv", usecols=["first_name"]).squeeze("columns")
bank_users

0          Shawn
1       Sergeant
2       Ambrosio
3           Gram
4          Britt
         ...
195        Franz
196     Adolphus
197      Aurelea
198    Armstrong
199    Henrietta
Name: first_name, Length: 200, dtype: object

In [21]:
type(bank_users)

pandas.core.series.Series

In [23]:
bank_users = pd.read_csv("bank_users.csv")["first_name"]
bank_users
# ďalší alternatívny zápis kedy výsledkom je Series z jednoho stĺpca

0          Shawn
1       Sergeant
2       Ambrosio
3           Gram
4          Britt
         ...
195        Franz
196     Adolphus
197      Aurelea
198    Armstrong
199    Henrietta
Name: first_name, Length: 200, dtype: object

In [25]:
type(bank_users)

pandas.core.series.Series