## Vyhľadávanie

In [3]:
import pandas as pd

In [5]:
"zavod" in "zavodi"

True

In [7]:
"Harry" in "Harry Potter"

True

In [9]:
"harry" in "Harry Potter"

False

Výsledok je v tomto prípade False, pretože vyhľadávanie je citlivé na veľké a malé písmená.

In [12]:
text = "Harry Potter"
searched_text = "Harry"
searched_text in text

True

Pri vyhľadávaní je možné použiť premenné.

In [15]:
searched_text.lower() in text.lower()

True

Aby sme sa vyhli chybe pri tom, či je tam veľké alebo malé písmeno a kvôli tomu to nenájde, tak vyhľadávaný text, aj text, v ktorom hľadáme prevedieme na malé písmená - .lower()

In [18]:
import pandas as pd

In [20]:
bank_users = pd.read_csv("bank_users.csv")
bank_users

,first_name,last_name,email,bank_account,born_year,city
0,Shawn,Gotts,sgotts0@newsvine.com,58.0,NaN,Jinchuan
1,Sergeant,Linsey,slinsey1@qq.com,70.0,2007.0,Tāngāil
2,Ambrosio,Gorton,agorton2@google.es,48.0,2000.0,Zhushan Chengguanzhen
3,Gram,Steanyng,gsteanyng3@google.fr,92.0,1970.0,Hongxing
4,Britt,Cockaday,bcockaday4@t.co,78.0,1985.0,Nangabulik
...,...,...,...,...,...,...
195,Franz,Oppy,foppy5f@shutterfly.com,90.0,2020.0,Bílina Kyselka
196,Adolphus,Labbati,alabbati5g@yellowbook.com,56.0,1984.0,Berlin
197,Aurelea,Cordery,acordery5h@furl.net,NaN,1992.0,Veshnyaki
198,Armstrong,Laughren,alaughren5i@yahoo.co.jp,87.0,1983.0,Detik Satu
199,Henrietta,Peckitt,hpeckitt5j@multiply.com,NaN,1967.0,Phú Lộc

In [22]:
bank_users.index

RangeIndex(start=0, stop=200, step=1)

In [24]:
bank_users.values

array([['Shawn', 'Gotts', 'sgotts0@newsvine.com', 58.0, nan, 'Jinchuan'],
       ['Sergeant', 'Linsey', 'slinsey1@qq.com', 70.0, 2007.0, 'Tāngāil'],
       ['Ambrosio', 'Gorton', 'agorton2@google.es', 48.0, 2000.0,
        'Zhushan Chengguanzhen'],
       ...,
       ['Aurelea', 'Cordery', 'acordery5h@furl.net', nan, 1992.0,
        'Veshnyaki'],
       ['Armstrong', 'Laughren', 'alaughren5i@yahoo.co.jp', 87.0, 1983.0,
        'Detik Satu'],
       ['Henrietta', 'Peckitt', 'hpeckitt5j@multiply.com', nan, 1967.0,
        'Phú Lộc']], dtype=object)

In [26]:
"Gorton" in bank_users.values
# vyhľadá výraz "Gorton" v hodnotách dataframu (.values)

True

In [28]:
0 in bank_users.values
# pokúša sa nájsť 0 v hodnotách

False

In [30]:
0 in bank_users.index
# vyhľadá index 0

True