## Zoradovanie dát

In [3]:
import pandas as pd

In [7]:
last_names = pd.read_csv("bank_users.csv")["last_name"]
last_names

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object

In [9]:
bank_account = pd.read_csv("bank_users.csv")["bank_account"]
bank_account

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
195    90.0
196    56.0
197     NaN
198    87.0
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [11]:
last_names.sort_values()
# zoradí textové hodnoty podľa abecedy

63         Adamec
173      Alyokhin
184      Ancliffe
116         Artis
39            Ary
          ...
191        Wraith
71     Yakobovicz
188       Yglesia
15       Youngman
82        Yushkin
Name: last_name, Length: 200, dtype: object

In [13]:
bank_account.sort_values()

174    10.0
34     10.0
65     10.0
125    11.0
89     11.0
       ...
151     NaN
166     NaN
169     NaN
197     NaN
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [15]:
last_names.sort_values(ascending=True)
# True je východzia hodnota a zoradí A - Z, 0 - 9

63         Adamec
173      Alyokhin
184      Ancliffe
116         Artis
39            Ary
          ...
191        Wraith
71     Yakobovicz
188       Yglesia
15       Youngman
82        Yushkin
Name: last_name, Length: 200, dtype: object

In [17]:
last_names.sort_values(ascending=False)
# zoradí Z - A, 9 - 0

82        Yushkin
15       Youngman
188       Yglesia
71     Yakobovicz
191        Wraith
          ...
39            Ary
116         Artis
184      Ancliffe
173      Alyokhin
63         Adamec
Name: last_name, Length: 200, dtype: object

In [19]:
last_names.sort_values(ascending=False).head(10)
# funkcie a metódy je možné reťaziť

82        Yushkin
15       Youngman
188       Yglesia
71     Yakobovicz
191        Wraith
177        Wickey
190    Whitchurch
102      Wharlton
62         Vuitte
128      Verecker
Name: last_name, dtype: object