## Index location - .iloc

In [2]:
import pandas as pd

In [14]:
# bank_users = pd.read_csv("bank_users.csv")["last_name"]
# bank_users
# výsledok je Series

In [10]:
bank_users = pd.read_csv("bank_users.csv",usecols= ["last_name"]).squeeze("columns")
bank_users
# iný zápis ako načítať súbor a zároveň konkrétny stĺpec, bez .squeze je to dataframe, so squeeze je to Series

0         Gotts
1        Linsey
2        Gorton
3      Steanyng
4      Cockaday
         ...
195        Oppy
196     Labbati
197     Cordery
198    Laughren
199     Peckitt
Name: last_name, Length: 200, dtype: object

In [16]:
bank_users.iloc[0]
# vyhľadá hodnotu na pozícii indexu 0

'Gotts'

In [18]:
bank_users.iloc[100]

'Rollinshaw'

In [20]:
bank_users.iloc[[10, 20, 30]]
# vyhľadá hodnoty na pozíciách indexu 10, 20, 30

10      Robley
20        Meak
30    Cathenod
Name: last_name, dtype: object

In [22]:
# bank_users.iloc[[10, 20, 300]]
# zahlási chybu, že index je mimo rozsah, máme indexy len do 199

In [30]:
bank_users.iloc[10:20]
# funguje tu rovnaký výber podlľa indexov ako bežnom pythone, od indexu 10 po 19

10          Robley
11          Carbin
12         Ashling
13             Boc
14        Lomansey
15        Youngman
16    Grichukhanov
17        Baldcock
18        Lattimer
19         Slocumb
Name: last_name, dtype: object

In [26]:
bank_users.iloc[150:]
# vyhľadá od indexu 150 po koniec

150        Mollindinia
151          Maskelyne
152                Doe
153            Gwillym
154          Strickler
155         Sandercock
156             Tawton
157            Perrone
158          Twitching
159              Garey
160           Grangier
161           Sherborn
162             Norrie
163            Meriott
164            Burkman
165           Ilymanov
166            Maurice
167         Auchinleck
168          Gainsford
169           Costanza
170              Baile
171            Trebble
172             Rolles
173           Alyokhin
174            Knagges
175          Simchenko
176           Lorriman
177             Wickey
178           Glaister
179               Brok
180            Hurling
181              Linck
182             Goldby
183            Pittman
184           Ancliffe
185    Falconer-Taylor
186             Sproul
187            Sircomb
188            Yglesia
189            Slocumb
190         Whitchurch
191             Wraith
192           Chastand
193          Gavrielly
194               Stow
195               Oppy
196            Labbati
197            Cordery
198           Laughren
199            Peckitt
Name: last_name, dtype: object

In [28]:
bank_users.iloc[:10]
# vyhľadá od začiatku po 9

0        Gotts
1       Linsey
2       Gorton
3     Steanyng
4     Cockaday
5     Simonett
6      Frankom
7      Terbeck
8    Blenkhorn
9      Gibberd
Name: last_name, dtype: object

In [32]:
bank_users.iloc[-1]
# vyhľadá prvú hodnotu odzadu, tj. index 199

'Peckitt'

In [34]:
bank_users.iloc[-10:-5]
# vyhľadá odzadu v rozsahu indexov od - do

190    Whitchurch
191        Wraith
192      Chastand
193     Gavrielly
194          Stow
Name: last_name, dtype: object

In [36]:
bank_users.iloc[-8:]

192     Chastand
193    Gavrielly
194         Stow
195         Oppy
196      Labbati
197      Cordery
198     Laughren
199      Peckitt
Name: last_name, dtype: object