## Matematické metódy a vymazanie chýbajúcich hodnôt

In [1]:
import pandas as pd

In [2]:
bank_users_account = pd.read_csv("bank_users.csv")["bank_account"]
bank_users_account
# urobí priamo Series

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
195    90.0
196    56.0
197     NaN
198    87.0
199     NaN
Name: bank_account, Length: 200, dtype: float64

In [4]:
bank_users_account.sum()
# spočíta hodnoty v Series; neovplyvnia to hodnoty "NaN"

10088.0

In [3]:
bank_users_account.dropna()
# vyhodí všetky hodnoty "NaN"; "NaN" znamená, že chýba hodnota

0      58.0
1      70.0
2      48.0
3      92.0
4      78.0
       ...
193    56.0
194    29.0
195    90.0
196    56.0
198    87.0
Name: bank_account, Length: 179, dtype: float64

In [5]:
bank_users_account.sum()

10088.0

In [6]:
bank_users_account.count()
# spočíta prvky v Series

179

In [7]:
bank_users_account.product()
# vynásobí všetky čísla medzi sebou

4.880285561347911e+302

In [9]:
pd.Series([10,20,30]).product()
# vynásobí hodnoty 10,20,30

6000

In [10]:
bank_users_account.mean()
# priemer hodnôt

56.357541899441344

In [11]:
bank_users_account.max()
# maximum z hodnôt

100.0

In [12]:
bank_users_account.min()
# minimum z hodnôt

10.0

In [13]:
bank_users_account.median()
# stredná hodnota; ak máme nepárny počet čísiel, tak vyberie hodnotu presne v strede; ak párny počet čísiel, tak z dvoch stredných hodnôt urobí priemer

56.0

In [16]:
bank_users_account.mode()
# vráti najčastejšie sa opakujúce hodnoty a majú rovnaký počet opakovaní

0    58.0
1    72.0
Name: bank_account, dtype: float64

In [15]:
pd.Series([10,20,20,2030,30]).mode()
# z uvedených hodnôt sa najčastejšie opakuje hodnota 20

0    20
dtype: int64

In [17]:
bank_users_account.describe()
# zobrazí rôzne operácie, ktoré sa dajú urobiť s daným Series
# .std - odchýlka od priemeru
# 25%, 50% 75% - kvartily

count    179.000000
mean      56.357542
std       26.028627
min       10.000000
25%       33.000000
50%       56.000000
75%       79.000000
max      100.000000
Name: bank_account, dtype: float64